<main class="text-layout">
  <h1>hola {{ name | titlecase }}</h1>
  <h3>{{ 1000 | currency }}</h3>
  <p-button
    label="Save"
    icon="pi pi-spin pi-cog"
    iconPos="right"
    styleClass="p-button-danger"
  ></p-button>
  <p-card [header]="name | titlecase">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
  </p-card>
</main>
